# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.bak
.jsx
'
# vercel
.vercel

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/code-actions-on-save.json


# typescript
*.tsbuildinfo
next-env.d.ts
node_modules
app-deploy/
.gitnexus/
.agents/skills/openspec*
.agent/skills/openspec*
.agents/workflows/opsx*
.agent/workflows/opsx*
.agents/skills/create-code-agentes
.agents/skills/exec-gitnexus
.agents/skills/gitnexus*

.agents/skills/
.agent/skills/
.agent/workflows/
.agents/workflows/
.agents/agents.md
production_artifacts/
CLAUDE.md


